/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/css/style.scss ***!
  \****************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/category.vue?vue&type=style&index=0&id=7f92a61f&lang=scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s ease;
}
.fade-enter-to {
  opacity: 1;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/container/error-db.container.vue?vue&type=style&index=0&id=1c840aa5&lang=scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
/* .fade-leave-active {
  transition: opacity 5s ease;
} */
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s ease;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-active {
  transition: opacity 1s ease;
}
.fade-leave-to {
  opacity: 0;
}
.modal-leave-from {
  opacity: 1;
}
.modal-leave-active {
  transition: opacity 1s ease;
}
.modal-leave-to {
  opacity: 0;
}

/* .fade-leave-to {
  opacity: 0;
} */
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/item.vue?vue&type=style&index=0&id=29347e34&lang=scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.list {
  display: block;
}
.list_active_newItem {
  height: 480px;
}
.list_inActive_newItem {
  height: 670px;
}
@media screen and (max-height: 670px) and (max-width: 420px) {
.list {
    display: block;
    overflow-y: scroll;
}
.list_active_newItem {
    height: 250px;
}
.list_inActive_newItem {
    height: 440px;
}
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/buy-list.vue?vue&type=style&index=0&id=3ba4c526&lang=scss&scoped=true ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@media screen and (max-height: 670px) and (max-width: 420px) {
table[data-v-3ba4c526] {
    display: block;
    overflow-y: scroll;
    height: 400px;
}
table thead[data-v-3ba4c526] {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/buy-act.vue?vue&type=style&index=0&id=07e6598c&lang=scss&scoped=true ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
table[data-v-07e6598c] {
  margin-bottom: 5px;
}
@media screen and (max-height: 670px) and (max-width: 420px) {
table[data-v-07e6598c] {
    display: block;
    overflow-y: scroll;
    height: 400px;
}
table thead[data-v-07e6598c] {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
}
