/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./assets/css/style.scss ***!
  \****************************************************************************************************************/

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/category.vue?vue&type=style&index=0&id=7f92a61f&lang=scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 1s ease;
}
.fade-enter-to {
  opacity: 1;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/buy-list.vue?vue&type=style&index=0&id=3ba4c526&lang=scss&scoped=true ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*　スクロールバーの実装 */
table[data-v-3ba4c526] {
  display: block;
  overflow-y: scroll;
  height: 410px;
}
table thead[data-v-3ba4c526] {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/vue-loader/dist/stylePostLoader.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/vue-loader/dist/index.js??ruleSet[1].rules[9].use[0]!./src/view/buy-act.vue?vue&type=style&index=0&id=07e6598c&lang=scss&scoped=true ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
table[data-v-07e6598c] {
  display: block;
  overflow-y: scroll;
  height: 390px;
}
table thead th[data-v-07e6598c] {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
